body{
    background-color: #ccc;/*Buena práctica: especificar que tipo de caracteristica se indica en el background*/
    background-image: url(/03-Fondos/img/Pattern1.jpg);
    background-repeat: no-repeat;/*Para que no se multiplique. Por defecto está que sí*/
    background-size: 100%;/*Para que ocupe toda la página*/
    background-attachment: fixed;/*Para que el fondo quede fijo*/
    text-align: justify;/*Justificar el texto*/
    color:white;
}

#caja{
    border: 5px solid black;
    padding: 10px;
    background-color: red;
    text-align: center;/*Posicionar el texto*/
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}

h2{
    background-color: aqua;
}

p{
    text-indent: 50px;

    /*
    word-spacing: 10px;
    letter-spacing: 50px;
    */
}