body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    --rojo:red;/*Definición de variable con Flexbox*/
}


#layout{
    display:flex;/*flex->Para activar el Flexbox. Modificará los elementos dentro del layout/
    /*display:inline-flex;/*Con esto el ancho se ajusta*/
    flex-direction: row;/*Row es la dirección por defecto, la que más se va a usar*/
    flex-wrap: wrap;/*Envoltorio. Por defecto es nowrap, si se activa, 
    cuando haya muchos elementos que se salgan de la caja, el layout se va a adaptar para que no salgan*/
    /*flex-fflow:row wrap*//*Esta sola línea equivale a escribir las 2 de arriba*/

    border:3px solid black;
    padding: 6px;
}

.caja{
    /*float:left;*//*Con float lo que esta debajo se mueve*/

    flex-grow: 1;/*Propiedad para que se adapte en tamaño y se agrande*/
    flex-shrink: 0;/*Propiedad para que se adapte en tamaño y se reduzca*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:white;
    padding:20px;
    border:4px solid #222;
    margin:10px;
    background-color: grey;
}

.red{
    flex-grow: 3;
    background-color: var(--rojo);/*Aplicación de variable*/
}
.green{
    flex-shrink: 0;/*Propiedad para que se adapte en tamaño y se reduzca*/
    background-color: green;
}
.blue{
    order:-1;/*order: para ordenar las objetos: cuando el número sea más negativo, más a la izquierda estará*/
    background-color: blue;
}
.orange{
    flex-basis:calc(100%/4);/*Para definir los anchos*/
    background-color: orange;
}

#layout2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;/*Propiedad para ajustar contenido horizontalmente*/
    border:3px solid black;
    padding: 6px;
    background-color: rgb(200, 238, 200);
    height:700px;
    align-items: baseline;/*Propiedad para ajustar elementos verticalmente*/
}

.caja2{

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:white;
    padding:20px;
    border:4px solid #222;
    margin:10px;
    background-color: grey;
}

.red2{
    background-color: var(--rojo);
    align-self: center;/*Propiedad para ajustar verticalmente un elemento*/
}
.green2{
    background-color: green;
}
.blue2{
    align-self: center;
    background-color: blue;
}
.orange2{
    background-color: orange;
}