body{
    text-align: center;
    font-family: sans-serif;
}

.layout{
    width: 80%;
    margin: 0px auto;
    min-height:400px;

    display: grid;/*Para activar el Grid*/
    /*grid-template-columns: 25% 25% 25% 25%;/*Definición de columnas*/
    /*grid-template-columns: repeat(4, 25%);/*Función repeat*/

    grid-template-columns: repeat(3, 1fr);/*Fracciones*/
    grid-template-rows: 1fr 3fr 2fr 1fr 1fr;

    grid-gap: 10px;/*Espacio entre elementos Grid*/
    padding:10px;
    border:3px solid orangered;
}
.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color:white;
    padding:20px;
    border:4px solid #222;
    background-color: gray;
}

.layout .red{
    /*grid-column-start: 1;
    grid-column-end: 3;*/

    grid-column: 1/3;/*Para expandir la caja: Se indica que ocupe de la línea 1 a la 3*/
    background-color: red;
}

.layout .blue{
    background-color: blue;
    grid-row: 2/4;
}

.layout .green{
    background-color:green;
}

.layout .pink{
    background-color: pink;
    grid-row: 2/4;
}
.layout .orange{
    background-color: orange;
    grid-row: 2/5;
}
.layout .yellow{
    background-color: yellow;
    color:black;
    grid-column: 1/3;
}