*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#presentacion{
    width: 100%;
    text-align: center;
    border:1px solid black;
    text-shadow: 2px 0px 5px black ;
    background-color: beige;
}

header{
    color:green;
    
}

#imagen{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#menu{
    border: 1px solid #ccc;    
    background-color: aquamarine;
    height: 40px;
}

#menu ul li{
    display: block;
    width: 160px;
    display: block;
    padding:10px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    background-color: aquamarine;
}
#menu ul li:first-child{
    margin-left: 300px;
}
.clearfix{
    float:none;
    clear: both;
}

#menu ul li:hover {
    background-color:rgb(11, 114, 80);
    color:white;
    cursor:pointer;
    
}
#menu ul li:hover a {
    color:azure;
}
