*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#presentacion{
    width: 100%;
    text-align: center;
    border:1px solid black;
    text-shadow: 2px 0px 5px black ;
    background-color: beige;
}

header{
    color:green;
    
}

#imagen{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#menu{
    border: 1px solid #ccc;    
    background-color: aquamarine;
    height: 40px;
}

#menu ul li{
    display: block;
    width: 160px;
    display: block;
    padding:10px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    background-color: aquamarine;
}
#menu ul li:first-child{
    margin-left: 300px;
}
.clearfix{
    float:none;
    clear: both;
}

body{
    background-color: rgb(235, 227, 227);
}
#menu ul li:hover {
    background-color:rgb(11, 114, 80);
    color:white;
    cursor:pointer;
    
}
#menu ul li:hover a {
    color:azure;
}

#barra{
    width: 200px;
    height: 780px;
    border:1px solid black;
    margin-top: 20px;
    margin-left: 80px;
    text-align: center;
    background-color: aliceblue;
    
}
#titulo1{
    border-top: 2px  solid black;
    border-bottom: 2px  solid black;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    background-color: rgb(146, 197, 241);
}
input[type="submit"]{
    margin-top: 10px;
    margin-bottom: 10px;
    background: green;
    color:white;
    padding:10px;
    font-size: 18px;
    border: black solid 2px;
    cursor:pointer;
    }

.acceso{
    line-height: 30px;
}

#caja1{
    height:250px;
    border-bottom: 2px dashed green;
}
#caja2{
    height:205px;
    border-bottom: 2px dashed green;
}
#caja3{
    margin-top: 28px;
    height:205px;
}

#titulo2{
    border-top: 2px  solid black;
    border-bottom: 2px  solid black;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    background-color: rgb(146, 197, 241);
    color: blue;
    font-weight: bold;
}
